@import "tailwindcss";

:root {
  --bg-color: #f9f6f3;
  --foreground: #4a4a4a;
  --sub-text-color: #3a3a3a;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}
